POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace-with-a-long-random-value
POSTGRES_HOST_PORT=5451

POSTGREST_HOST_PORT=8107
PGRST_DB_SCHEMAS=public
PGRST_DB_ANON_ROLE=anon
PGRST_DB_PASSWORD=replace-with-a-different-long-random-value

AUTH_DB_PASSWORD=replace-with-another-long-random-value
JWT_SECRET=replace-with-at-least-32-random-characters
JWT_EXPIRY=3600

FRONTEND_PORT=7108
NEXT_PUBLIC_API_URL=https://hydra.sivia.id
NEXT_PUBLIC_API_KEY=replace-with-an-anon-jwt-signed-by-jwt-secret

API_EXTERNAL_URL=https://hydra.sivia.id/auth/v1
SITE_URL=https://hydra.sivia.id
ADDITIONAL_REDIRECT_URLS=https://hydra.sivia.id/**
